.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all 0.5s ease-in;
}
.slide-fade-leave-active {
  transition: all 0.5s ease-out;
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.flex-box {
  display: flex;
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.jy-center {
  justify-content: center;
}
.jy-start {
  justify-content: flex-start;
}
.jy-end {
  justify-content: flex-end;
}
.jy-between {
  justify-content: space-between;
}
.as-start {
  align-items: flex-start;
}
.as-end {
  align-items: flex-end;
}
.bb-full {
  box-sizing: border-box;
  width: 100%;
}
.pagination {
  width: 100%;
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: 14px;
  font-weight: bold;
}

.tb-gap {
  margin-top: 20px;
  margin-bottom: 20px;
}
.lr-gap {
  margin-left: 20px;
  margin-right: 20px;
}
.font-bold {
  font-weight: bold;
}
