<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.csgs.mapper.FeLogMapper">
    <cache eviction="FIFO"
           flushInterval="60000"
           size="512"
           readOnly="true"/>
    <insert id="insertLog">
        insert into fe_log(event, type, page, create_time, user_id)
        values (#{event}, #{type}, #{page}, #{createTime}, #{userId})
    </insert>

    <select id="queryTimeLog" resultType="LogTimeResult">
        select create_time,count(*) count from fe_log group by create_time
    </select>

    <select id="queryTypeLog" resultType="LogTypeResult">
        select type,count(*) count from fe_log group by type
    </select>
</mapper>