<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.csgs.mapper.UserMapper">
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>

    <select id="findById" resultType="UserEntity">
        select *
        from user
        where id = #{id}
    </select>

    <select id="findOneByUserID" parameterType="String" resultType="UserEntity">
        select *
        from user u
        where userid = #{userID}
    </select>

    <select id="judgeGrid" resultType="_int">
        select user_type
        from user
        where id = #{id}
    </select>

    <select id="findUserByUserID" resultType="User">
        select u.id id, userid, user_name, tel_phone, district_name, community_name
        from user u,
             user_profile p,
             community_info c,
             district d
        where u.profile_id = p.id
          and p.community_id = c.id
          and d.id = c.district_id
          and userid = #{userID}
    </select>

    <select id="findUserByGridInfo" parameterType="hashmap" resultType="User">
        select u.id id,userid,user_name,tel_phone,district_name,community_name
        from user u,user_profile p,community_info c,district d
        where u.profile_id = p.id and p.community_id = c.id and d.id = c.district_id and u.user_type != '1'
        <if test="community != ''">
            and community_name = #{community}
        </if>
        <if test="userName != ''">
            and user_name = #{userName}
        </if>
    </select>
    <!--    使用userName != null,表示map中存在key为userName的键值对，反之不存在这样的键值对-->
    <!--    如果是userName != '',表示map中存在key为userName的键值对，并且value为空-->
    <update id="modifyPassword">
        update user
        set user.user_password=#{newPassword}
        where user.id = #{id}
    </update>

    <insert id="addResidentUser" parameterType="hashmap">
        insert into user(userid, user_password)
        values (#{userID}, #{password})
    </insert>

    <update id="setGrid">
        update user
        set user_type = '1'
        where userid = #{userID}
    </update>

    <update id="cancelGrid">
        update user
        set user_type = '0'
        where userid = #{userID}
    </update>
</mapper>